@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Black.ttf");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Star Jedi";
	src: url("../fonts/Star-Jedi.ttf");
	font-weight: 900;
	font-style: normal;
}

html {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}
body {
	background: #070506 url("../images/bg-2.png") top right -170% no-repeat;
	background-size: contain;
	background-attachment: fixed;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	color: #ffffff;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

.container {
	width: 90%;
	max-width: 1060px;
	margin: 0 auto;
}
.header {
	display: flex;
	align-items: center;
	margin-top: 90px;
}
.header__logo {
	margin-right: 70px;
}
.menu {
	font-size: 16px;
}
.menu__list {
	display: flex;
}
.menu__link {
	color: #ffffff;
	margin-right: 15px;
}
.hero__subtitle {
	/* font-family: 'Star Jedi', sans-serif; */
	display: block;
	font-weight: 900;
	font-size: 40px;
	line-height: 100%;
	margin-top: 78px;
}
.hero__title {
	/* font-family: 'Star Jedi', sans-serif; */
	margin-top: 5px;
	font-weight: 900;
	font-size: 64px;
	line-height: 78px;
}
.hero__text {
	max-width: 572px;
	margin-top: 25px;
	color: #afafaf;
}
.hero__premiere {
	margin-top: 25px;
	display: block;
	margin-bottom: 5px;
	color: #b02000;
}
.hero__date {
	font-size: 24px;
	margin-bottom: 46px;
	display: block;
}
.hero__button-play {
	border: none;
	background: linear-gradient(90deg, #fb641a 0%, #fc3309 100%);
	border-radius: 300px;
	color: #ffffff;
	padding: 25px 87px 25px 34px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
	position: relative;
	margin-bottom: 67px;
	display: inline-block;
}
.hero__button-play::after {
	position: absolute;
	content: "";
	width: 66px;
	height: 66px;
	display: block;
	background: #fff url("../images/Play.svg") center no-repeat;
	background-position: 25px 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	right: 0;
	top: 0;
}
.hero__button-play::before {
	content: "";
	transition: ease-in 0.5s;
	width: 81px;
	height: 81px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	right: -7px;
	top: -7px;
}
.hero__button-play:hover::before {
	background-color: rgba(255, 255, 255, 0.3);
}
.slider {
	padding: 60px 0;
}
.slider__title-h {
	font-weight: bold;
	margin-bottom: 24px;
}
.slider__wrap {
	display: flex;
	flex-wrap: wrap;
}
.slider__item {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 250px;
	min-height: 200px;
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 30px;
	color: #ffffff;
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
}
.slider__item::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(80, 80, 80, 0.86);
	z-index: -1;
	transition: ease-in 0.5s;
}
.slider__item:hover::before {
	background: rgba(64, 101, 255, 0.86);
}
.slider__image {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -2;
}
.slider__rating-label {
	margin-right: 10px;
}
.star {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url("../images/star.svg") no-repeat center;
}
.star-0 {
	background: url("../images/star-contour.svg") no-repeat center;
}
.slider__nav--left,
.slider__nav--right {
	width: 32px;
	height: 32px;
	border: none;
	background: none;
	cursor: pointer;
}
.slider__nav--left {
	background: url("../images/left-arrow.svg") no-repeat center;
	margin-right: 15px;
}
.slider__nav--right {
	background: url("../images/right-arrow.svg") no-repeat center;
}
.slider__nav--left span,
.slider__nav--right span {
	display: none;
}

@media (max-width: 600px) {
	.header {
		flex-direction: column;
		align-items: start;
	}
	.header__logo {
		margin-bottom: 30px;
	}
	.hero__subtitle {
		font-size: 26px;
		line-height: 48px;
		margin-top: 40px;
	}
	.hero__title {
		font-size: 36px;
		line-height: 48px;
	}
	.hero__text {
		font-size: 16px;
	}
}
@media (max-width: 375px) {
	.menu__list {
		flex-direction: column;
	}
	.menu__item:not(:last-child) {
		margin-bottom: 15px;
	}
	.menu__link {
		margin-right: 0;
		font-size: 20px;
	}
}
